{% extends 'base.html' %}
{% load static %}
{% block content %}          
<div class="card z-depth-2" style="margin-top: 20px">
    <div class="card-title" style="padding-top: 15px; margin-left: 15px">Clientes</div>   
        <div class="card-content">
            <table class="table highlight responsive-table">
                <thead>
                    <tr>                    
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>
                            <a href="{% url 'detail_cliente' cliente.pk %}" class="btn-floating btn-small blue darken-1"><i class="material-icons">remove_red_eye</i></a>                           
                            <a href="{% url 'upd_cliente' cliente.pk %}"  class="btn-floating btn-small yellow darken-1"><i class="material-icons">edit</i></a>
                            <a href="{% url 'del_cliente' cliente.pk %}" class="btn-floating btn-small red"><i class="material-icons">delete</i></a>                            
                        </td>            
                    </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
</div>
    

{% endblock %}

